img {
    display: block;
}

.backdrop {
    background-image: url("https://raw.githubusercontent.com/Gryphonillustrations/private-portfolio-images/refs/heads/main/weepingquicksmall.png?token=GHSAT0AAAAAADMTJS2PHFZ75KE7NYLLQNPQ2HEOIHA");
    height: 100%;
    background-size: cover;
}
.blur {
  height: 100%;
  backdrop-filter: blur(4px);
}

.outer {
  text-align: center;
  background-color: black;
  max-width: 88%;
  margin-right: auto;
  margin-left: auto;
}

.papermain {
  position: relative;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 910px;
}

.img100 {
  width: 100%;
}

.papertext {
  text-wrap: wrap;
  padding-top: 7%;
  height: 87%;
  text-align: center;
  position: absolute;
  display: block;
  width: 100%;
}

.banjo {
  position: relative;
  transform: scaleX(-1);
  width: 30%;
  float: left;
  margin-top: -24%;
  margin-left: -10%;
}
