img {
    display: block;
    pointer-events: none;
}

.backdrop {
    position: fixed;
    width: 100%;
    z-index: -2;
}
.blur {
    position: fixed;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(4px);
    z-index: -1;
}

.backspace {
    padding-top:2.5em;
}

.goback a {
  text-align: center;
  color: white;
}

.outer {
  text-align: center;
  max-width: 88%;
  margin-right: auto;
  margin-left: auto;
}

.papermain {
  position: relative;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1em;
  width: 100%;
  max-width: 910px;
  max-height: 740px;
  font-size: 18pt;
}

.paperheight {
    width: 100%;
    height: 60vw;
    overflow: clip;
    max-height: 736px;
    display: block;
}

.img100 {
  width: 100%;
}

.papertext {
  text-wrap: wrap;
  padding-top: 7%;
  height: 87%;
  text-align: center;
  position: absolute;
  display: block;
  width: 100%;
  top: 0px;
}

.banjo {
  position: relative;
  transform: scaleX(-1);
  width: 30%;
  float: left;
  margin-top: -24%;
  margin-left: -10%;
}

.additional-sections {
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 500px; /*?*/
    top: 9%;
}

.animreel {
    padding-top: 3em;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    font-size: 18pt;
    max-height: 400px;
    height: 500px;
    top: 17%;
    position: absolute;
    display: block;
    left: 16.5%
    
}

.reel {
    width:100%;
    height: 42vw;
    max-height: 400px;
}

.paintings {
    width: 100%;
    position: absolute;
    top: 21em;
    margin-left: -6%;
    display: block;
}

.life {
    width: 100%;
    position: absolute;
    top: 21em;
    margin-left: -6%;
    display: block;
}

/*.grid {
    display: flex;
    justify-content: center;
    padding: 5%;
}*/

.flexcol {
  flex: 1;
  margin: 0.5%;
  /*display: block;
  overflow: clip;*/
}

.square {
  max-width: 375px;
  display: inline-block;
  width: 85vw;
}

.long {
  max-width: 700px;
  display: inline-block;
  width: 85vw;
}

.diamond {
  max-width: 475px;
  display: inline-block;
  width: 98vw;
  margin-left: -2vw;
  margin-right: -2vw;
}

/*.squarepaper {
  width: 94%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  top: -1%;
  position: relative;
}

.innerpaint {
  display: block;
  position: relative;
  width: 85%;
  top: -91%;
  margin: auto;
}*/

/* Inky: */

body {
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    margin: 0;
}

@media screen and (prefers-reduced-motion: no-preference) {
    body.switched {
        transition: color 0.6s, background-color 0.6s;
    }
}

h1,
h2,
h3 {
    text-align: center;
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 32pt;
    margin-bottom: 10px;
}

h2 {
    font-size: 28pt;
    margin-bottom: 6px;
}

h3 {
    font-size: 20pt;
    font-style: italic;
    font-family: "Raleway", sans-serif;
    font-weight: lighter;
    color: #312424;
}

.header {
    padding-top: 3em;
    padding-bottom: 3em;
}



@media screen and (prefers-reduced-motion: no-preference) {
    .written-in-ink {
        transition: color 0.6s, background 0.6s;
    }
}

/* 
  Enables <iframe> support work on itch.io when using mobile iOS

.outerContainer {
    position: absolute;
    display: block;
    margin: 0;
    padding: 0;
    -webkit-overflow-scrolling: touch;
    overflow: scroll;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    margin-top: 24px;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 980px) {
    .outerContainer {
        margin-top: 44px;
        background-size: cover;
        background-repeat: no-repeat;
    }
}*/

.container {
    display: block;
    max-width: 910px;
    width: 82%;
    margin: 0 auto;
}

@media screen and (prefers-reduced-motion: no-preference) {
    .switched .container {
        transition: background-color 0.6s;
    }
}

p {
    font-family: "Raleway";
    font-size: 17pt;
    color: #130e0c;
    line-height: 1.1em;
}

a {
    font-weight: 300;
    color: #130e0c;
    text-decoration: none;
}

.unclickable {
    font-weight: 300;
    color: #5f5f5f;
    text-decoration: none;
    cursor: not-allowed;
}

a:hover {
    /*color: rgb(0, 0, 0);*/
    font-weight: 700;
    font-style: italic;
    padding-left: 2em;
}

@media screen and (prefers-reduced-motion: no-preference) {
    a {
        transition: color 0.6s;
    }

    a:hover {
        transition: color 0.1s;
    }
}

strong {
    color: black;
    font-weight: bold;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.container .hide, .additional-sections .hide {
    opacity: 0.0;
}

.invisible {
    display: none;
}

.container>* , .additional-sections>*{
    opacity: 1.0;
}

@media screen and (prefers-reduced-motion: no-preference) {
    .container>* , .additional-sections>*{
        transition: opacity 1.0s;
    }
}

/*
  Class applied to all choices
  (Will always appear inside <p> element by default.)
*/

.choice {
    text-align: left;
    line-height: 0.6em;
}

/* 
  Class applied to first choice
*/

:not(.choice)+.choice {
    padding-top: 1em;
}

/*
  Class applied to choice links
*/

.notback {
    padding-left: 4%;
}

.choice a, .choice span {
    font-size: 18pt;
    /*font-size: 1.8vw;*/
}


#controls {
    display: none;
    z-index: 4;
    font-size: 9pt;
    text-align: center;
    padding-bottom: 6px;
    position: fixed;
    right: 14px;
    top: 4px;
    user-select: none;
    background: white;
}

@media screen and (prefers-reduced-motion: no-preference) {
    #controls {
        transition: color 0.6s, background 0.6s;
    }
}

#controls [disabled] {
    color: #ccc;
}

#controls>*:not(:last-child):after {
    content: " | ";
}

@media screen and (max-width: 980px) {
    #controls {
        z-index: 2;
        padding-top: 24px;
        top: 0;
        left: 0;
        right: 0;
    }
}
